<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>課題作成 ｜ 課題管理アプリケーション</title>
</head>
<body>
    <h1>課題作成</h1>
    <form action="#" th:action="@{/issues}" method="post" th:object="${issueForm}">
        <div>
            <label for="summeryInput">概要</label>
            <!-- * は選択変数式という。選択したオブジェクトに対して、フィールドをマッピングする。選択は th:object で設定される -->
            <input type="text" id="summeryInput" th:field="*{summary}">
        </div>
        <div>
            <label for="descriptionInput">説明</label>
            <textarea id="descriptionInput" row="10" th:field="*{description}"></textarea>
        </div>
        <div>
            <button type="submit">作成</button>
        </div>
    </form>
</body>
</html>